.App {
  width: 700px;
  margin: auto;
}

.Display {
  background-color: grey;
  height: 100px;
  color: white;
  font-weight: bold;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ButtonPanel {
  display: flex;
  flex-direction: column;
}

.ButtonPanel div {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.Button {
  width: 25%;
  text-align: center;
  color: black;
  border: 1px grey solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonPanel div#group-5 .Button:first-child {
  width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
